* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-image: url(light_blue_pink_bg_lg.jpg);
    background-repeat: repeat;
    background-attachment: scroll;
}
.app {
    background: #fff;
    width: 90%;
    max-width: 800px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 30 px;    
}
.quiz {
    padding: 20 px 0;
} 
.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}
.btn {
    background: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}
.btn:disabled {
    cursor: no-drop;
}
#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;    
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;

}
.optionselected {
    background-color: #9aeabc !important;
}

#resultspane {
    display: none;
}
#cardresults {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    gap: 20px;
}
.cardinfo {
    position: relative;
    perspective: 1000px;

    border-radius: 8px;

    padding: 20px;

    width: 70%;
    border-style: groove;
}

.cardcontainerinner {
    position: relative;
    width: 100%;
    height: 100%;

    transition: transform 1s;
    transform-style: preserve-3d;

    display: grid;
}

.cardinfo:hover .cardcontainerinner {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}

.cardheader, .carddata {
    grid-column: 1;
    grid-row: 1;

    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cardheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carddata {
    transform: rotateY( 180deg );

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.carddata > * {
    text-align: left;
}

.hovertip {
    position: relative;
    max-width: 100%;
    overflow: wrap;
}
.hovertip:before {
    position: absolute;
    content: attr(data-text);
    
    top: 50%;
    transform: translateY(-50%);
    
    left: 100%;
    margin-left: 15px;

    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;
  
    display: none;
    overflow-wrap: break-word;
}
.hovertip:hover:before {
    display:block;
}